* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
#wrapper {
    width: 98%;
    background: slategray;
    padding: 30px 20px;
    margin: 0 auto;
}
#taskList {
    display: grid;
    grid-template-columns: 2px 30px 1fr;
}
/*#taskList input[type="checkbox"] {
    width: 200px;
    font-family: Tahoma;
}*/
#tabs {
    width: 98%;
}

#tabs div{
    display: inline-block;
    width: 85px;
    height: 40px;
    padding: 15px;
    text-align: center;
    background-color: blanchedalmond;
}